# Relationship Extraction

In [1]:
# import libraries
import numpy as np
import pandas as pd
import ast

## Student Info

In [8]:
# load data
student_info = pd.read_csv('../entity_relationship_extraction/entity_extraction/student_info_final.csv') 
print(student_info.head())

    Student_Name Matric_Number       NRIC  Year                  Faculties  \
0    Tracy Lewis     A0216920B  XXXXX506Z     1        NUS Business School
1    Tracy Lewis     A0216920B  XXXXX506Z     1        NUS Business School
2    Tracy Lewis     A0216920B  XXXXX506Z     1        NUS Business School
3  Andrew Holden     A0225069H  XXXXX799Z     3  YST Conservatory of Music
4  Andrew Holden     A0225069H  XXXXX799Z     3  YST Conservatory of Music

                     Major Second Major  \
0  Business Administration          NaN
1  Business Administration          NaN
2  Business Administration          NaN
3                    Music          NaN
4                    Music          NaN

                                   Modules_Completed  \
0  ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
1  ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
2  ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
3  ['CFA1111A', 'MUA1190', 'MUA2109', 'MUA1172', ...
4  ['CFA1111A', 'MUA1190', 'MUA2109', 'MUA1172', ...

                                              Grades  \
0  {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
1  {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
2  {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
3  {'CFA1111A': 'F', 'MUA1190': 'A', 'MUA2109': '...
4  {'CFA1111A': 'F', 'MUA1190': 'A', 'MUA2109': '...

                 Student_entities                            Faculty_entities  \
0    [('Tracy Lewis', 'STUDENT')]        [('NUS Business School', 'FACULTY')]
1    [('Tracy Lewis', 'STUDENT')]        [('NUS Business School', 'FACULTY')]
2    [('Tracy Lewis', 'STUDENT')]        [('NUS Business School', 'FACULTY')]
3  [('Andrew Holden', 'STUDENT')]  [('YST Conservatory of Music', 'FACULTY')]
4  [('Andrew Holden', 'STUDENT')]  [('YST Conservatory of Music', 'FACULTY')]

                           Major_entities  \
0  [('Business Administration', 'MAJOR')]
1  [('Business Administration', 'MAJOR')]
2  [('Business Administration', 'MAJOR')]
3                    [('Music', 'MAJOR')]
4                    [('Music', 'MAJOR')]

                                     Module_entities  \
0  [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...
1  [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...
2  [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...
3  [('CFA1111A', 'MODULE'), ('MUA1190', 'MODULE')...
4  [('CFA1111A', 'MODULE'), ('MUA1190', 'MODULE')...

                                   Relationship_Data
0  {'from_type': 'Student', 'from_id': 'Tracy Lew...
1  {'from_type': 'Student', 'from_id': 'Tracy Lew...
2  {'from_type': 'Student', 'from_id': 'Tracy Lew...
3  {'from_type': 'Student', 'from_id': 'Andrew Ho...
4  {'from_type': 'Student', 'from_id': 'Andrew Ho...

In [19]:
# create new column with empty list
student_info['Relationship_Data'] = [[] for i in range(len(student_info))]
print(student_info)

         Student_Name Matric_Number       NRIC  Year  \
0         Tracy Lewis     A0216920B  XXXXX506Z     1
1       Andrew Holden     A0225069H  XXXXX799Z     3
2     Phillip Bullock     A0228204E  XXXXX194Z     1
3      Valerie Rivera     A0200778Y  XXXXX150Z     3
4         Robert Hall     A0222508M  XXXXX824Z     3
...               ...           ...        ...   ...
3280  Renee Carpenter     A0275436A  XXXXX719Z     1
3281    Garrett Mcgee     A0248365D  XXXXX212Z     1
3282    Michael Colon     A0284143A  XXXXX269Z     3
3283     Wesley Moran     A0276835Y  XXXXX301Z     3
3284   Angel Peterson     A0218295X  XXXXX501Z     3

                              Faculties                    Major  \
0                   NUS Business School  Business Administration
1             YST Conservatory of Music                    Music
2     College of Design and Engineering   Electrical Engineering
3                             Computing       Business Analytics
4             YST Conservatory of Music                    Music
...                                 ...                      ...
3280                NUS Business School  Business Administration
3281                                Law                      Law
3282       Yong Loo Lin Sch of Medicine                 Medicine
3283                                Law                      Law
3284                NUS Business School  Business Administration

                 Second Major  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4     Business Administration
...                       ...
3280                      NaN
3281                      NaN
3282                      NaN
3283                      NaN
3284                    Music

                                      Modules_Completed  \
0     ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
1     ['CFA1111A', 'MUA1190', 'MUA2109', 'MUA1172', ...
2     ['ME1102', 'BN1111', 'PF1103', 'CN1101A', 'ID1...
3     ['CS3236R', 'CS1010', 'CP3209', 'CS1010R', 'IS...
4     ['MUA1109', 'CFA1101A', 'MUA2255A', 'MUA1172',...
...                                                 ...
3280  ['MKT1705B', 'DMB1202MNO', 'DMB1204DAO', 'DMB1...
3281  ['LC1002F', 'LC1001D', 'LC1001E', 'LC1001G', '...
3282  ['MIH2201', 'NUR3116C', 'NUR2125', 'NUR1114A',...
3283  ['LC1002G', 'LC1002A', 'LC1002E', 'LC1001H', '...
3284  ['BWS3814', 'BSN3702', 'MNO1706D', 'BSP1703', ...

                                                 Grades  \
0     {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
1     {'CFA1111A': 'F', 'MUA1190': 'A', 'MUA2109': '...
2     {'ME1102': 'F', 'BN1111': 'B-', 'PF1103': 'C+'...
3     {'CS3236R': 'A+', 'CS1010': 'A+', 'CP3209': 'A...
4     {'MUA1109': 'C+', 'CFA1101A': 'B-', 'MUA2255A'...
...                                                 ...
3280  {'MKT1705B': 'F', 'DMB1202MNO': 'A-', 'DMB1204...
3281  {'LC1002F': 'C+', 'LC1001D': 'C+', 'LC1001E': ...
3282  {'MIH2201': 'A-', 'NUR3116C': 'C+', 'NUR2125':...
3283  {'LC1002G': 'B-', 'LC1002A': 'D', 'LC1002E': '...
3284  {'BWS3814': 'D', 'BSN3702': 'C+', 'MNO1706D': ...

                      Student_entities  \
0         [('Tracy Lewis', 'STUDENT')]
1       [('Andrew Holden', 'STUDENT')]
2     [('Phillip Bullock', 'STUDENT')]
3      [('Valerie Rivera', 'STUDENT')]
4         [('Robert Hall', 'STUDENT')]
...                                ...
3280  [('Renee Carpenter', 'STUDENT')]
3281    [('Garrett Mcgee', 'STUDENT')]
3282    [('Michael Colon', 'STUDENT')]
3283     [('Wesley Moran', 'STUDENT')]
3284   [('Angel Peterson', 'STUDENT')]

                                       Faculty_entities  \
0                  [('NUS Business School', 'FACULTY')]
1            [('YST Conservatory of Music', 'FACULTY')]
2     [('College of Design and Engineering', 'FACULT...
3                            [('Computing', 'FACULTY')]
4            [('YST Conservatory of Music', 'FACULTY')]
...                                                 ...
3280               [('NUS Business School', 'FACULTY')]
3281                               [('Law', 'FACULTY')]
3282      [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
3283                               [('Law', 'FACULTY')]
3284               [('NUS Business School', 'FACULTY')]

                              Major_entities  \
0     [('Business Administration', 'MAJOR')]
1                       [('Music', 'MAJOR')]
2      [('Electrical Engineering', 'MAJOR')]
3          [('Business Analytics', 'MAJOR')]
4                       [('Music', 'MAJOR')]
...                                      ...
3280  [('Business Administration', 'MAJOR')]
3281                      [('Law', 'MAJOR')]
3282                 [('Medicine', 'MAJOR')]
3283                      [('Law', 'MAJOR')]
3284  [('Business Administration', 'MAJOR')]

                                        Module_entities Relationship_Data
0     [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...                []
1     [('CFA1111A', 'MODULE'), ('MUA1190', 'MODULE')...                []
2     [('ME1102', 'MODULE'), ('BN1111', 'MODULE'), (...                []
3     [('CS3236R', 'MODULE'), ('CS1010', 'MODULE'), ...                []
4     [('MUA1109', 'MODULE'), ('CFA1101A', 'MODULE')...                []
...                                                 ...               ...
3280  [('MKT1705B', 'MODULE'), ('DMB1202MNO', 'MODUL...                []
3281  [('LC1002F', 'MODULE'), ('LC1001D', 'MODULE'),...                []
3282  [('MIH2201', 'MODULE'), ('NUR3116C', 'MODULE')...                []
3283  [('LC1002G', 'MODULE'), ('LC1002A', 'MODULE'),...                []
3284  [('BWS3814', 'MODULE'), ('BSN3702', 'MODULE'),...                []

[3285 rows x 14 columns]

In [21]:
# for each row, create a dictionary for each relationship and add to list

for i in range(len(student_info)):
    # student --> majors_in --> major
    student_major = {'from_type': 'Student', 'from_id': student_info['Student_Name'][i], 'to_type': 'Major', 'to_id': student_info['Major'][i], 'type': 'majors_in'}
    # student --> is_in_faculty --> faculty
    student_faculty = {'from_type': 'Student', 'from_id': student_info['Student_Name'][i], 'to_type': 'Faculty', 'to_id': student_info['Faculties'][i], 'type': 'is_in_faculty'}
    # student --> takes_module --> module
    student_module = {'from_type': 'Student', 'from_id': student_info['Student_Name'][i], 'to_type': 'Module', 'to_id': student_info['Modules_Completed'][i], 'type': 'takes_module'}
    
    student_info['Relationship_Data'][i].append(student_major)
    student_info['Relationship_Data'][i].append(student_faculty)
    student_info['Relationship_Data'][i].append(student_module)

# explode the list of dictionaries into separate rows
student_info = student_info.explode('Relationship_Data')

print(student_info)

        Student_Name Matric_Number       NRIC  Year  \
0        Tracy Lewis     A0216920B  XXXXX506Z     1
0        Tracy Lewis     A0216920B  XXXXX506Z     1
0        Tracy Lewis     A0216920B  XXXXX506Z     1
1      Andrew Holden     A0225069H  XXXXX799Z     3
1      Andrew Holden     A0225069H  XXXXX799Z     3
...              ...           ...        ...   ...
3283    Wesley Moran     A0276835Y  XXXXX301Z     3
3283    Wesley Moran     A0276835Y  XXXXX301Z     3
3284  Angel Peterson     A0218295X  XXXXX501Z     3
3284  Angel Peterson     A0218295X  XXXXX501Z     3
3284  Angel Peterson     A0218295X  XXXXX501Z     3

                      Faculties                    Major Second Major  \
0           NUS Business School  Business Administration          NaN
0           NUS Business School  Business Administration          NaN
0           NUS Business School  Business Administration          NaN
1     YST Conservatory of Music                    Music          NaN
1     YST Conservatory of Music                    Music          NaN
...                         ...                      ...          ...
3283                        Law                      Law          NaN
3283                        Law                      Law          NaN
3284        NUS Business School  Business Administration        Music
3284        NUS Business School  Business Administration        Music
3284        NUS Business School  Business Administration        Music

                                      Modules_Completed  \
0     ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
0     ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
0     ['ACC1701B', 'DMB1202ACC', 'DMB1201MKT', 'MNO1...
1     ['CFA1111A', 'MUA1190', 'MUA2109', 'MUA1172', ...
1     ['CFA1111A', 'MUA1190', 'MUA2109', 'MUA1172', ...
...                                                 ...
3283  ['LC1002G', 'LC1002A', 'LC1002E', 'LC1001H', '...
3283  ['LC1002G', 'LC1002A', 'LC1002E', 'LC1001H', '...
3284  ['BWS3814', 'BSN3702', 'MNO1706D', 'BSP1703', ...
3284  ['BWS3814', 'BSN3702', 'MNO1706D', 'BSP1703', ...
3284  ['BWS3814', 'BSN3702', 'MNO1706D', 'BSP1703', ...

                                                 Grades  \
0     {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
0     {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
0     {'ACC1701B': 'B', 'DMB1202ACC': 'A', 'DMB1201M...
1     {'CFA1111A': 'F', 'MUA1190': 'A', 'MUA2109': '...
1     {'CFA1111A': 'F', 'MUA1190': 'A', 'MUA2109': '...
...                                                 ...
3283  {'LC1002G': 'B-', 'LC1002A': 'D', 'LC1002E': '...
3283  {'LC1002G': 'B-', 'LC1002A': 'D', 'LC1002E': '...
3284  {'BWS3814': 'D', 'BSN3702': 'C+', 'MNO1706D': ...
3284  {'BWS3814': 'D', 'BSN3702': 'C+', 'MNO1706D': ...
3284  {'BWS3814': 'D', 'BSN3702': 'C+', 'MNO1706D': ...

                     Student_entities  \
0        [('Tracy Lewis', 'STUDENT')]
0        [('Tracy Lewis', 'STUDENT')]
0        [('Tracy Lewis', 'STUDENT')]
1      [('Andrew Holden', 'STUDENT')]
1      [('Andrew Holden', 'STUDENT')]
...                               ...
3283    [('Wesley Moran', 'STUDENT')]
3283    [('Wesley Moran', 'STUDENT')]
3284  [('Angel Peterson', 'STUDENT')]
3284  [('Angel Peterson', 'STUDENT')]
3284  [('Angel Peterson', 'STUDENT')]

                                Faculty_entities  \
0           [('NUS Business School', 'FACULTY')]
0           [('NUS Business School', 'FACULTY')]
0           [('NUS Business School', 'FACULTY')]
1     [('YST Conservatory of Music', 'FACULTY')]
1     [('YST Conservatory of Music', 'FACULTY')]
...                                          ...
3283                        [('Law', 'FACULTY')]
3283                        [('Law', 'FACULTY')]
3284        [('NUS Business School', 'FACULTY')]
3284        [('NUS Business School', 'FACULTY')]
3284        [('NUS Business School', 'FACULTY')]

                              Major_entities  \
0     [('Business Administration', 'MAJOR')]
0     [('Business Administration', 'MAJOR')]
0     [('Business Administration', 'MAJOR')]
1                       [('Music', 'MAJOR')]
1                       [('Music', 'MAJOR')]
...                                      ...
3283                      [('Law', 'MAJOR')]
3283                      [('Law', 'MAJOR')]
3284  [('Business Administration', 'MAJOR')]
3284  [('Business Administration', 'MAJOR')]
3284  [('Business Administration', 'MAJOR')]

                                        Module_entities  \
0     [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...
0     [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...
0     [('ACC1701B', 'MODULE'), ('DMB1202ACC', 'MODUL...
1     [('CFA1111A', 'MODULE'), ('MUA1190', 'MODULE')...
1     [('CFA1111A', 'MODULE'), ('MUA1190', 'MODULE')...
...                                                 ...
3283  [('LC1002G', 'MODULE'), ('LC1002A', 'MODULE'),...
3283  [('LC1002G', 'MODULE'), ('LC1002A', 'MODULE'),...
3284  [('BWS3814', 'MODULE'), ('BSN3702', 'MODULE'),...
3284  [('BWS3814', 'MODULE'), ('BSN3702', 'MODULE'),...
3284  [('BWS3814', 'MODULE'), ('BSN3702', 'MODULE'),...

                                      Relationship_Data
0     {'from_type': 'Student', 'from_id': 'Tracy Lew...
0     {'from_type': 'Student', 'from_id': 'Tracy Lew...
0     {'from_type': 'Student', 'from_id': 'Tracy Lew...
1     {'from_type': 'Student', 'from_id': 'Andrew Ho...
1     {'from_type': 'Student', 'from_id': 'Andrew Ho...
...                                                 ...
3283  {'from_type': 'Student', 'from_id': 'Wesley Mo...
3283  {'from_type': 'Student', 'from_id': 'Wesley Mo...
3284  {'from_type': 'Student', 'from_id': 'Angel Pet...
3284  {'from_type': 'Student', 'from_id': 'Angel Pet...
3284  {'from_type': 'Student', 'from_id': 'Angel Pet...

[9855 rows x 14 columns]

## Module Info

In [30]:
# load data
module_info = pd.read_csv('../entity_relationship_extraction/entity_extraction/module_info_final.csv')

In [31]:
# create new column with empty list
module_info['Relationship_Data'] = [[] for i in range(len(module_info))]

In [32]:
# for each row, create a dictionary for each relationship and add to list

for i in range(len(module_info)):
    # module --> offered_by --> department
    module_department = {'from_type': 'Module', 'from_id': module_info['moduleCode'][i], 'to_type': 'Department', 'to_id': module_info['department'][i], 'type': 'offered_by'}
    module_info['Relationship_Data'][i].append(module_department)
    # module --> has_prerequisite --> prerequisite
    if module_info['prerequisite'][i] != 'nan' or module_info['prerequisite'][i] != '':
        module_prerequisite = {'from_type': 'Module', 'from_id': module_info['moduleCode'][i], 'to_type': 'Module', 'to_id': module_info['prerequisite'][i], 'type': 'has_prerequisite'}
        module_info['Relationship_Data'][i].append(module_prerequisite)
    # module --> has_preclusion --> preclusion
    if module_info['preclusion'][i] != 'nan' or module_info['preclusion'][i] != '':
        module_preclusion = {'from_type': 'Module', 'from_id': module_info['moduleCode'][i], 'to_type': 'Module', 'to_id': module_info['preclusion'][i], 'type': 'has_preclusion'}
        module_info['Relationship_Data'][i].append(module_preclusion)
    # module --> teaches_skill --> skill
    module_skill = {'from_type': 'Module', 'from_id': module_info['moduleCode'][i], 'to_type': 'Skill', 'to_id': module_info['Skill_entities'][i], 'type': 'teaches_skill'}
    module_info['Relationship_Data'][i].append(module_skill)
    # module --> offered_in --> semester
    sems = [col for col in ['semester_01', 'semester_02', 'semester_03', 'semester_04'] if (module_info[col] == 1).all()]
    module_semester = {'from_type': 'Module', 'from_id': module_info['moduleCode'][i], 'to_type': 'Semester', 'to_id': sems, 'type': 'offered_in'}
    module_info['Relationship_Data'][i].append(module_semester)

# explode the list of dictionaries into separate rows
module_info = module_info.explode('Relationship_Data')


print(module_info)

     moduleCode                                     title  \
0       ABM5001                 Leadership in Biomedicine
0       ABM5001                 Leadership in Biomedicine
0       ABM5001                 Leadership in Biomedicine
0       ABM5001                 Leadership in Biomedicine
0       ABM5001                 Leadership in Biomedicine
...         ...                                       ...
6848     ZB4299  Applied Project in Computational Biology
6848     ZB4299  Applied Project in Computational Biology
6848     ZB4299  Applied Project in Computational Biology
6848     ZB4299  Applied Project in Computational Biology
6848     ZB4299  Applied Project in Computational Biology

                                            description  moduleCredit  \
0     Leadership is fundamental to the success of in...           2.0
0     Leadership is fundamental to the success of in...           2.0
0     Leadership is fundamental to the success of in...           2.0
0     Leadership is fundamental to the success of in...           2.0
0     Leadership is fundamental to the success of in...           2.0
...                                                 ...           ...
6848  For Bachelor of Science (Honours) students to ...          12.0
6848  For Bachelor of Science (Honours) students to ...          12.0
6848  For Bachelor of Science (Honours) students to ...          12.0
6848  For Bachelor of Science (Honours) students to ...          12.0
6848  For Bachelor of Science (Honours) students to ...          12.0

                      department                       faculty  \
0     NUS Medicine Dean's Office  Yong Loo Lin Sch of Medicine
0     NUS Medicine Dean's Office  Yong Loo Lin Sch of Medicine
0     NUS Medicine Dean's Office  Yong Loo Lin Sch of Medicine
0     NUS Medicine Dean's Office  Yong Loo Lin Sch of Medicine
0     NUS Medicine Dean's Office  Yong Loo Lin Sch of Medicine
...                          ...                           ...
6848         Biological Sciences                       Science
6848         Biological Sciences                       Science
6848         Biological Sciences                       Science
6848         Biological Sciences                       Science
6848         Biological Sciences                       Science

     gradingBasisDescription prerequisite  preclusion attributes  ...  \
0                     Graded           []          []        NaN  ...
0                     Graded           []          []        NaN  ...
0                     Graded           []          []        NaN  ...
0                     Graded           []          []        NaN  ...
0                     Graded           []          []        NaN  ...
...                      ...          ...         ...        ...  ...
6848                  Graded           []  ['ZB4199']        NaN  ...
6848                  Graded           []  ['ZB4199']        NaN  ...
6848                  Graded           []  ['ZB4199']        NaN  ...
6848                  Graded           []  ['ZB4199']        NaN  ...
6848                  Graded           []  ['ZB4199']        NaN  ...

     semester_01  semester_02 semester_03  semester_04 UE  \
0              0            1           0            0  0
0              0            1           0            0  0
0              0            1           0            0  0
0              0            1           0            0  0
0              0            1           0            0  0
...          ...          ...         ...          ... ..
6848           1            1           0            0  0
6848           1            1           0            0  0
6848           1            1           0            0  0
6848           1            1           0            0  0
6848           1            1           0            0  0

              Module_entities                             Department_entities  \
0     [('ABM5001', 'MODULE')]  [("NUS Medicine Dean's Office", 'DEPARTMENT')]
0     [('ABM5001', 'MODULE')]  [("NUS Medicine Dean's Office", 'DEPARTMENT')]
0     [('ABM5001', 'MODULE')]  [("NUS Medicine Dean's Office", 'DEPARTMENT')]
0     [('ABM5001', 'MODULE')]  [("NUS Medicine Dean's Office", 'DEPARTMENT')]
0     [('ABM5001', 'MODULE')]  [("NUS Medicine Dean's Office", 'DEPARTMENT')]
...                       ...                                             ...
6848   [('ZB4299', 'MODULE')]         [('Biological Sciences', 'DEPARTMENT')]
6848   [('ZB4299', 'MODULE')]         [('Biological Sciences', 'DEPARTMENT')]
6848   [('ZB4299', 'MODULE')]         [('Biological Sciences', 'DEPARTMENT')]
6848   [('ZB4299', 'MODULE')]         [('Biological Sciences', 'DEPARTMENT')]
6848   [('ZB4299', 'MODULE')]         [('Biological Sciences', 'DEPARTMENT')]

                                   Faculty_entities  \
0     [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
0     [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
0     [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
0     [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
0     [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
...                                             ...
6848                       [('Science', 'FACULTY')]
6848                       [('Science', 'FACULTY')]
6848                       [('Science', 'FACULTY')]
6848                       [('Science', 'FACULTY')]
6848                       [('Science', 'FACULTY')]

                 Skill_entities  \
0     [('Leadership', 'SKILL')]
0     [('Leadership', 'SKILL')]
0     [('Leadership', 'SKILL')]
0     [('Leadership', 'SKILL')]
0     [('Leadership', 'SKILL')]
...                         ...
6848     [('Project', 'SKILL')]
6848     [('Project', 'SKILL')]
6848     [('Project', 'SKILL')]
6848     [('Project', 'SKILL')]
6848     [('Project', 'SKILL')]

                                      Relationship_Data
0     {'from_type': 'Module', 'from_id': 'ABM5001', ...
0     {'from_type': 'Module', 'from_id': 'ABM5001', ...
0     {'from_type': 'Module', 'from_id': 'ABM5001', ...
0     {'from_type': 'Module', 'from_id': 'ABM5001', ...
0     {'from_type': 'Module', 'from_id': 'ABM5001', ...
...                                                 ...
6848  {'from_type': 'Module', 'from_id': 'ZB4299', '...
6848  {'from_type': 'Module', 'from_id': 'ZB4299', '...
6848  {'from_type': 'Module', 'from_id': 'ZB4299', '...
6848  {'from_type': 'Module', 'from_id': 'ZB4299', '...
6848  {'from_type': 'Module', 'from_id': 'ZB4299', '...

[34245 rows x 26 columns]

In [33]:
# write back to csv
module_info.to_csv('../entity_relationship_extraction/entity_extraction/module_info_final.csv', index=False)

## Department Info

In [15]:
# load data
department_info = pd.read_csv('../entity_relationship_extraction/entity_extraction/department_info_final.csv')

In [16]:
# create new column with empty list
department_info['Relationship_Data'] = [[] for i in range(len(department_info))]
print(department_info)

    department_id                      department  \
0       NUSDP0001      NUS Medicine Dean's Office
1       NUSDP0002                    Architecture
2       NUSDP0003                      Accounting
3       NUSDP0004    Communications and New Media
4       NUSDP0005                         History
..            ...                             ...
106     NUSDP0107  Ridge View Residential College
107     NUSDP0108   University Scholars Programme
108     NUSDP0109  College of Alice and Peter Tan
109     NUSDP0110            Residential Colleges
110     NUSDP0111                Yale-NUS College

                               faculty  \
0         Yong Loo Lin Sch of Medicine
1    College of Design and Engineering
2                  NUS Business School
3              Arts and Social Science
4              Arts and Social Science
..                                 ...
106                Residential College
107                          Computing
108                Residential College
109                Residential College
110                   Yale-NUS College

                                   Department_entities  \
0       [("NUS Medicine Dean's Office", 'DEPARTMENT')]
1                     [('Architecture', 'DEPARTMENT')]
2                       [('Accounting', 'DEPARTMENT')]
3     [('Communications and New Media', 'DEPARTMENT')]
4                          [('History', 'DEPARTMENT')]
..                                                 ...
106  [('Ridge View Residential College', 'DEPARTMEN...
107  [('University Scholars Programme', 'DEPARTMENT')]
108  [('College of Alice and Peter Tan', 'DEPARTMEN...
109           [('Residential Colleges', 'DEPARTMENT')]
110               [('Yale-NUS College', 'DEPARTMENT')]

                                      Faculty_entities Relationship_Data
0        [('Yong Loo Lin Sch of Medicine', 'FACULTY')]                []
1    [('College of Design and Engineering', 'FACULT...                []
2                 [('NUS Business School', 'FACULTY')]                []
3             [('Arts and Social Science', 'FACULTY')]                []
4             [('Arts and Social Science', 'FACULTY')]                []
..                                                 ...               ...
106               [('Residential College', 'FACULTY')]                []
107                         [('Computing', 'FACULTY')]                []
108               [('Residential College', 'FACULTY')]                []
109               [('Residential College', 'FACULTY')]                []
110                  [('Yale-NUS College', 'FACULTY')]                []

[111 rows x 6 columns]

In [18]:
# for each row, create a dictionary for each relationship and add to list

for i in range(len(department_info)):
    # department --> is_under_faculty --> faculty
    department_faculty = {'from_type': 'Department', 'from_id': department_info['department'][i], 'to_type': 'Faculty', 'to_id': department_info['faculty'][i], 'type': 'is_under_faculty'}
    department_info['Relationship_Data'][i].append(department_faculty)

print(department_info)

    department_id                      department  \
0       NUSDP0001      NUS Medicine Dean's Office
1       NUSDP0002                    Architecture
2       NUSDP0003                      Accounting
3       NUSDP0004    Communications and New Media
4       NUSDP0005                         History
..            ...                             ...
106     NUSDP0107  Ridge View Residential College
107     NUSDP0108   University Scholars Programme
108     NUSDP0109  College of Alice and Peter Tan
109     NUSDP0110            Residential Colleges
110     NUSDP0111                Yale-NUS College

                               faculty  \
0         Yong Loo Lin Sch of Medicine
1    College of Design and Engineering
2                  NUS Business School
3              Arts and Social Science
4              Arts and Social Science
..                                 ...
106                Residential College
107                          Computing
108                Residential College
109                Residential College
110                   Yale-NUS College

                                   Department_entities  \
0       [("NUS Medicine Dean's Office", 'DEPARTMENT')]
1                     [('Architecture', 'DEPARTMENT')]
2                       [('Accounting', 'DEPARTMENT')]
3     [('Communications and New Media', 'DEPARTMENT')]
4                          [('History', 'DEPARTMENT')]
..                                                 ...
106  [('Ridge View Residential College', 'DEPARTMEN...
107  [('University Scholars Programme', 'DEPARTMENT')]
108  [('College of Alice and Peter Tan', 'DEPARTMEN...
109           [('Residential Colleges', 'DEPARTMENT')]
110               [('Yale-NUS College', 'DEPARTMENT')]

                                      Faculty_entities  \
0        [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
1    [('College of Design and Engineering', 'FACULT...
2                 [('NUS Business School', 'FACULTY')]
3             [('Arts and Social Science', 'FACULTY')]
4             [('Arts and Social Science', 'FACULTY')]
..                                                 ...
106               [('Residential College', 'FACULTY')]
107                         [('Computing', 'FACULTY')]
108               [('Residential College', 'FACULTY')]
109               [('Residential College', 'FACULTY')]
110                  [('Yale-NUS College', 'FACULTY')]

                                     Relationship_Data
0    [{'from_type': 'Department', 'from_id': 'NUS M...
1    [{'from_type': 'Department', 'from_id': 'Archi...
2    [{'from_type': 'Department', 'from_id': 'Accou...
3    [{'from_type': 'Department', 'from_id': 'Commu...
4    [{'from_type': 'Department', 'from_id': 'Histo...
..                                                 ...
106  [{'from_type': 'Department', 'from_id': 'Ridge...
107  [{'from_type': 'Department', 'from_id': 'Unive...
108  [{'from_type': 'Department', 'from_id': 'Colle...
109  [{'from_type': 'Department', 'from_id': 'Resid...
110  [{'from_type': 'Department', 'from_id': 'Yale-...

[111 rows x 6 columns]

In [19]:
# write back to csv
department_info.to_csv('../entity_relationship_extraction/entity_extraction/department_info_final.csv', index=False)

## Staff Info

In [21]:
# load data
staff_info = pd.read_csv('../entity_relationship_extraction/entity_extraction/staff_info_final.csv')

In [22]:
# create new column with empty list
staff_info['Relationship_Data'] = [[] for i in range(len(staff_info))]
print(staff_info)

    Employee ID           Employee Name       NRIC                   DOB  \
0    NUSPF12345  Marin Sergio Hernandez  XXXXX479A  1983-02-23T00:00:00Z
1    NUSPF12346         Kathryn Cordova  XXXXX815A  1985-09-02T00:00:00Z
2    NUSPF12347         Barbara Sanchez  XXXXX777A  1971-07-30T00:00:00Z
3    NUSPF12348             Bryce Lucas  XXXXX610A  1973-07-20T00:00:00Z
4    NUSPF12349          Judith Camacho  XXXXX629A  1991-11-16T00:00:00Z
..          ...                     ...        ...                   ...
995  NUSPF13340              Lisa Reyes  XXXXX828A  1993-09-18T00:00:00Z
996  NUSPF13341           Melanie Kelly  XXXXX978A  1985-02-20T00:00:00Z
997  NUSPF13342          Ronald Spencer  XXXXX396A  1985-06-13T00:00:00Z
998  NUSPF13343          Charles Rogers  XXXXX749A  1984-02-06T00:00:00Z
999  NUSPF13344          Vanessa Taylor  XXXXX815A  1970-09-17T00:00:00Z

                      DOJ                           Department Modules Taught  \
0    2009-10-31T00:00:00Z  Electrical and Computer Engineering        CEG5003
1    2009-06-07T00:00:00Z  Civil and Environmental Engineering        ESE2102
2    2008-05-09T00:00:00Z          Centre for Language Studies      LAT4201HM
3    2002-01-17T00:00:00Z                    BIZ Dean's Office     DMB1203MNO
4    2000-02-13T00:00:00Z                            Economics       EC4401HM
..                    ...                                  ...            ...
995  2009-03-24T00:00:00Z                  YSTCM Dean's Office       MUA3256B
996  2005-11-08T00:00:00Z                    FoL Dean's Office       LLJ5342V
997  1999-11-06T00:00:00Z                              Physics         PC2032
998  1999-11-15T00:00:00Z                           Psychology         PL4251
999  2002-12-05T00:00:00Z                  YSTCM Dean's Office        MUA4107

                            Staff_entities  \
0    [('Marin Sergio Hernandez', 'STAFF')]
1           [('Kathryn Cordova', 'STAFF')]
2           [('Barbara Sanchez', 'STAFF')]
3               [('Bryce Lucas', 'STAFF')]
4            [('Judith Camacho', 'STAFF')]
..                                     ...
995              [('Lisa Reyes', 'STAFF')]
996           [('Melanie Kelly', 'STAFF')]
997          [('Ronald Spencer', 'STAFF')]
998          [('Charles Rogers', 'STAFF')]
999          [('Vanessa Taylor', 'STAFF')]

                                   Department_entities  \
0    [('Electrical and Computer Engineering', 'DEPA...
1    [('Civil and Environmental Engineering', 'DEPA...
2      [('Centre for Language Studies', 'DEPARTMENT')]
3                [("BIZ Dean's Office", 'DEPARTMENT')]
4                        [('Economics', 'DEPARTMENT')]
..                                                 ...
995            [("YSTCM Dean's Office", 'DEPARTMENT')]
996              [("FoL Dean's Office", 'DEPARTMENT')]
997                        [('Physics', 'DEPARTMENT')]
998                     [('Psychology', 'DEPARTMENT')]
999            [("YSTCM Dean's Office", 'DEPARTMENT')]

                Module_entities Relationship_Data
0       [('CEG5003', 'MODULE')]                []
1       [('ESE2102', 'MODULE')]                []
2     [('LAT4201HM', 'MODULE')]                []
3    [('DMB1203MNO', 'MODULE')]                []
4      [('EC4401HM', 'MODULE')]                []
..                          ...               ...
995    [('MUA3256B', 'MODULE')]                []
996    [('LLJ5342V', 'MODULE')]                []
997      [('PC2032', 'MODULE')]                []
998      [('PL4251', 'MODULE')]                []
999     [('MUA4107', 'MODULE')]                []

[1000 rows x 11 columns]

In [25]:
# for each row, create a dictionary for each relationship and add to list

for i in range(len(staff_info)):

    # staff --> teaches_module --> module
    staff_module = {'from_type': 'Staff', 'from_id': staff_info['Employee Name'][i], 'to_type': 'Module', 'to_id': staff_info['Modules Taught'][i], 'type': 'teaches_module'}
    # staff --> is_in_department --> department
    staff_department = {'from_type': 'Staff', 'from_id': staff_info['Employee Name'][i], 'to_type': 'Department', 'to_id': staff_info['Department'][i], 'type': 'is_in_department'}
    
    staff_info['Relationship_Data'][i].append(staff_module)
    staff_info['Relationship_Data'][i].append(staff_department)

print(staff_info)

    department_id                      department  \
0       NUSDP0001      NUS Medicine Dean's Office
1       NUSDP0002                    Architecture
2       NUSDP0003                      Accounting
3       NUSDP0004    Communications and New Media
4       NUSDP0005                         History
..            ...                             ...
106     NUSDP0107  Ridge View Residential College
107     NUSDP0108   University Scholars Programme
108     NUSDP0109  College of Alice and Peter Tan
109     NUSDP0110            Residential Colleges
110     NUSDP0111                Yale-NUS College

                               faculty  \
0         Yong Loo Lin Sch of Medicine
1    College of Design and Engineering
2                  NUS Business School
3              Arts and Social Science
4              Arts and Social Science
..                                 ...
106                Residential College
107                          Computing
108                Residential College
109                Residential College
110                   Yale-NUS College

                                   Department_entities  \
0       [("NUS Medicine Dean's Office", 'DEPARTMENT')]
1                     [('Architecture', 'DEPARTMENT')]
2                       [('Accounting', 'DEPARTMENT')]
3     [('Communications and New Media', 'DEPARTMENT')]
4                          [('History', 'DEPARTMENT')]
..                                                 ...
106  [('Ridge View Residential College', 'DEPARTMEN...
107  [('University Scholars Programme', 'DEPARTMENT')]
108  [('College of Alice and Peter Tan', 'DEPARTMEN...
109           [('Residential Colleges', 'DEPARTMENT')]
110               [('Yale-NUS College', 'DEPARTMENT')]

                                      Faculty_entities  \
0        [('Yong Loo Lin Sch of Medicine', 'FACULTY')]
1    [('College of Design and Engineering', 'FACULT...
2                 [('NUS Business School', 'FACULTY')]
3             [('Arts and Social Science', 'FACULTY')]
4             [('Arts and Social Science', 'FACULTY')]
..                                                 ...
106               [('Residential College', 'FACULTY')]
107                         [('Computing', 'FACULTY')]
108               [('Residential College', 'FACULTY')]
109               [('Residential College', 'FACULTY')]
110                  [('Yale-NUS College', 'FACULTY')]

                                     Relationship_Data
0    [{'from_type': 'Department', 'from_id': 'NUS M...
1    [{'from_type': 'Department', 'from_id': 'Archi...
2    [{'from_type': 'Department', 'from_id': 'Accou...
3    [{'from_type': 'Department', 'from_id': 'Commu...
4    [{'from_type': 'Department', 'from_id': 'Histo...
..                                                 ...
106  [{'from_type': 'Department', 'from_id': 'Ridge...
107  [{'from_type': 'Department', 'from_id': 'Unive...
108  [{'from_type': 'Department', 'from_id': 'Colle...
109  [{'from_type': 'Department', 'from_id': 'Resid...
110  [{'from_type': 'Department', 'from_id': 'Yale-...

[111 rows x 6 columns]

## Save Dataframes

In [ ]:
# write all back to original csv files
student_info.to_csv('../entity_relationship_extraction/entity_extraction/student_info_final.csv', index=False)
module_info.to_csv('../entity_relationship_extraction/entity_extraction/module_info_final.csv', index=False)
department_info.to_csv('../entity_relationship_extraction/entity_extraction/department_info_final.csv', index=False)
staff_info.to_csv('../entity_relationship_extraction/entity_extraction/staff_info_final.csv', index=False)