In [1]:
import pandas as pd

In [8]:
# Load the CSV file
linkedin_jobs = pd.read_csv('../data/07 - Jobs and relevant skillset (linkedin).csv')
ONET_jobs_and_tech = pd.read_csv('../data/08 - jobs_and_tech (ONET).csv')  
ONET_jobs_and_skills = pd.read_csv('../data/09 - jobs_and_skills (ONET).csv')

In [28]:
# Check the first few rows
#linkedin_jobs.head()
#ONET_jobs_and_tech.head()
ONET_jobs_and_skills.head()

  O*NET-SOC Code             Title                         Skills
0     11-1011.00  Chief Executives  Administration and Management
1     11-1011.00  Chief Executives                 Administrative
2     11-1011.00  Chief Executives       Economics and Accounting
3     11-1011.00  Chief Executives            Sales and Marketing
4     11-1011.00  Chief Executives  Customer and Personal Service

In [19]:
# Check for any full row duplicates in the dataset
#skills_duplicates = ONET_jobs_and_skills.duplicated().sum()
#tech_duplicates = ONET_jobs_and_tech.duplicated().sum()

##print(f"Number of duplicate rows in ONET jobs and skills: {skills_duplicates}")
#print(f"Number of duplicate rows in ONET jobs and tech: {tech_duplicates}")

# Display duplicated rows in ONET jobs and skills
#skills_duplicates_df = ONET_jobs_and_skills[ONET_jobs_and_skills.duplicated()]
#print("Duplicated rows in ONET jobs and skills:")
#print(skills_duplicates_df.head())  # Show first few duplicated rows

In [36]:
len(ONET_jobs_and_tech['O*NET-SOC Code'].unique())

1016

In [48]:
# for linkedin jobs and relevant skills
# Extract 'Job Title' and 'Skills' columns
job_titles = linkedin_jobs['Job Title']
skills = linkedin_jobs['Skills']

# Split the 'Skills' column into individual skills
extracted_entities = []

for job_title, skill_list in zip(job_titles, skills):
    if pd.notna(skill_list):  # Ensure 'Skills' column is not NaN
        # Split skills by commas and strip any extra whitespace, storing them in a list
        individual_skills = [skill.strip() for skill in skill_list.split(',')]
    else:
        individual_skills = [] # In case of NaN or empty skills

    # Append a dictionary with job title and its corresponding skills
    extracted_entities.append({
        'Job Title': job_title,
        'Skills': individual_skills
    })

# Display the first few extracted entities (in list format)
for entity in extracted_entities[:5]:  # Print the first 5 for preview
    print(f"Job Title: {entity['Job Title']}")
    print(f"Skills: {entity['Skills']}")
    print('---')

pd.DataFrame(extracted_entities).to_csv('../data/jobs and relevant skillset (linkedin)_final.csv', index=False)

Job Title: Academic Advisor
Skills: ['Academic Advising', 'Higher Education', 'Student Development', 'Student Engagement', 'Teaching', 'Student Affairs', 'Career Counseling', 'Student Counseling', 'Higher Education Administration', 'Campus']
---
Job Title: Academic Tutor
Skills: ['Tutoring', 'Teaching', 'Peer Tutoring', 'Mathematics', 'Online Tutoring', 'Research', 'Python (Programming Language)', 'Communication', 'Leadership', 'Writing']
---
Job Title: Account Coordinator
Skills: ['Account Management', 'Account Coordination', 'Public Relations', 'Digital Marketing', 'Customer Relationship Management (CRM)', 'Client Relations', 'Data Entry', 'Copywriting', 'Marketing', 'Communication']
---
Job Title: Account Director
Skills: ['Account Management', 'Client Services', 'Client Relations', 'Marketing Strategy', 'Strategy', 'Business Development', 'Strategic Partnerships', 'Brand Awareness', 'Digital Marketing', 'Strategic Planning']
---
Job Title: Account Executive
Skills: ['Software as a Service (SaaS)', 'Account Management', 'Business-to-Business (B2B)', 'Sales', 'Cold Calling', 'Salesforce.com', 'Direct Sales', 'Sales Management', 'Customer Relationship Management (CRM)', 'Business Development']
---

In [60]:
# for ONET jobs and tech
# Check for any NaN values in the 'Tech Skill' column
print(ONET_jobs_and_tech['Tech Skill'].isna().sum())

93

In [61]:
# check that jobs with blank tech skills do not have non-blank tech skills
import pandas as pd

ONET_tech_skills = ONET_jobs_and_tech[['Title', 'Tech Skill']]

# Step 1: Group by 'Title' and count blank and non-blank 'Tech Skill' entries
tech_skill_counts = ONET_tech_skills.groupby('Title')['Tech Skill'].agg(
    blank_count=lambda x: x.isna().sum(),
    non_blank_count=lambda x: x.notna().sum()
).reset_index()

# Step 2: Filter for jobs that only have blank 'Tech Skill' entries
jobs_only_blank_tech_skills = tech_skill_counts[(tech_skill_counts['blank_count'] > 0) & (tech_skill_counts['non_blank_count'] == 0)]

# Display the jobs that only have blank tech skills
print("Jobs with only blank Tech Skill entries:")
print(jobs_only_blank_tech_skills)

# Optionally, check the jobs that have both blank and non-blank tech skills entries
jobs_with_mixed_entries = tech_skill_counts[(tech_skill_counts['blank_count'] > 0) & (tech_skill_counts['non_blank_count'] > 0)]
print("Jobs with both blank and non-blank Tech Skill entries:")
print(jobs_with_mixed_entries)

Jobs with only blank Tech Skill entries:
                                                  Title  blank_count  \
21                      Agricultural Workers, All Other            1
22                                     Air Crew Members            1
23                                    Air Crew Officers            1
26                Aircraft Launch and Recovery Officers            1
27             Aircraft Launch and Recovery Specialists            1
...                                                 ...          ...
956   Textile, Apparel, and Furnishings Workers, All...            1
957                               Therapists, All Other            1
975                   Transportation Workers, All Other            1
983     Underground Mining Machine Operators, All Other            1
1011                             Woodworkers, All Other            1

      non_blank_count
21                  0
22                  0
23                  0
26                  0
27                  0
...               ...
956                 0
957                 0
975                 0
983                 0
1011                0

[93 rows x 3 columns]
Jobs with both blank and non-blank Tech Skill entries:
Empty DataFrame
Columns: [Title, blank_count, non_blank_count]
Index: []

In [62]:
# for ONET jobs and tech
# Extract 'Title' and 'Tech Skill' 
ONET_tech_skills = ONET_jobs_and_tech[['Title', 'Tech Skill']]
extracted_tech_entities = []

for index, row in ONET_tech_skills.iterrows():
    tech_skill = row['Tech Skill']  # Get the tech skill
    if pd.notna(tech_skill):  # Check if the tech skill is not NaN
        extracted_tech_entities.append({
            'Title': row['Title'],
            'Tech Skills': [tech_skill.strip()]  # Convert each tech skill into a list
        })
    else:
        extracted_tech_entities.append({
            'Title': row['Title'],
            'Tech Skills': []  # Append an empty list for NaN values
        })

# Display the first few extracted tech skills entities (in list format)
for entity in extracted_tech_entities[:5]:
    print(f"Title: {entity['Title']}")
    print(f"Tech Skills: {entity['Tech Skills']}")
    print('---')

# Optionally save the extracted tech entities to a CSV file
import pandas as pd
pd.DataFrame(extracted_tech_entities).to_csv('../data/jobs_and_tech (ONET)_final.csv', index=False)

Title: Chief Executives
Tech Skills: ['Desktop calculator']
---
Title: Chief Executives
Tech Skills: ['Desktop computers']
---
Title: Chief Executives
Tech Skills: ['Notebook computers']
---
Title: Chief Executives
Tech Skills: ['Personal computers']
---
Title: Chief Executives
Tech Skills: ['Personal digital assistant PDAs or organizers']
---

In [63]:
# for ONET jobs and skills
ONET_skills = ONET_jobs_and_skills[['Title', 'Skills']]
extracted_skills_entities = []

for index, row in ONET_skills.iterrows():
    # Split skills by comma, strip whitespace, and create a list
    individual_skills = [skill.strip() for skill in row['Skills'].split(',')] if pd.notna(row['Skills']) else []
    
    extracted_skills_entities.append({
        'Title': row['Title'],
        'Skills': individual_skills  # Convert skills into a list
    })

# Display the first few extracted skills entities (in list format)
for entity in extracted_skills_entities[:5]:
    print(f"Title: {entity['Title']}")
    print(f"Skills: {entity['Skills']}")
    print('---')

# Optionally, you can save the extracted skills entities to a CSV file
import pandas as pd

# Convert the extracted skills entities to a DataFrame
skills_df = pd.DataFrame(extracted_skills_entities)
skills_df.to_csv('../data/jobs_and_skills (ONET)_final.csv', index=False)

Title: Chief Executives
Skills: ['Administration and Management']
---
Title: Chief Executives
Skills: ['Administrative']
---
Title: Chief Executives
Skills: ['Economics and Accounting']
---
Title: Chief Executives
Skills: ['Sales and Marketing']
---
Title: Chief Executives
Skills: ['Customer and Personal Service']
---