In [1]:
import pandas as pd
import numpy as np

In [16]:
occupations = pd.read_excel("Occupation Data.xlsx")
abilities = pd.read_excel("Abilities.xlsx")
knowledge = pd.read_excel("Knowledge.xlsx")
skills = pd.read_excel("Skills.xlsx")
hardware = pd.read_excel("Tools Used.xlsx")
software = pd.read_excel("Technology Skills.xlsx")

scale_ref = pd.read_excel("Scales Reference.xlsx")

abilities = soft skills
knowledge = hard skills/domain knowledge
skills = mix of both

In [13]:
abilities['Element Name'].drop_duplicates().head()

0       Oral Comprehension
2    Written Comprehension
4          Oral Expression
6       Written Expression
8         Fluency of Ideas
Name: Element Name, dtype: object

In [14]:
knowledge['Element Name'].drop_duplicates().head()

0    Administration and Management
2                   Administrative
4         Economics and Accounting
6              Sales and Marketing
8    Customer and Personal Service
Name: Element Name, dtype: object

In [15]:
skills['Element Name'].drop_duplicates().head()

0    Reading Comprehension
2         Active Listening
4                  Writing
6                 Speaking
8              Mathematics
Name: Element Name, dtype: object

In [25]:
simple_knowledge = knowledge[knowledge['Recommend Suppress']=="N"].iloc[:, :4].drop_duplicates().reset_index(drop=True)

simple_skills = skills[skills['Recommend Suppress']=="N"].iloc[:, :4].drop_duplicates().reset_index(drop=True)

simple_abilities = abilities[abilities['Recommend Suppress']=="N"].iloc[:, :4].drop_duplicates().reset_index(drop=True)

In [38]:
pd.concat([simple_skills, simple_abilities, simple_knowledge])

,O*NET-SOC Code,Title,Element ID,Element Name
0,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension
1,11-1011.00,Chief Executives,2.A.1.b,Active Listening
2,11-1011.00,Chief Executives,2.A.1.c,Writing
3,11-1011.00,Chief Executives,2.A.1.d,Speaking
4,11-1011.00,Chief Executives,2.A.1.e,Mathematics
...,...,...,...,...
22483,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.C.8.a,Public Safety and Security
22484,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.C.8.b,Law and Government
22485,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.C.9.a,Telecommunications
22486,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.C.9.b,Communications and Media
22487,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.C.10,Transportation

In [40]:
all = pd.concat([knowledge, skills, abilities])
all_skills = all[all['Recommend Suppress']=="N"].iloc[:, :4].drop_duplicates().reset_index(drop=True)

In [41]:
def left_join_ksa(df1, ksa):
    merged = pd.merge(df1, ksa, on='O*NET-SOC Code', how = 'left').drop(columns = ["Title_y", "Element ID"]).rename(columns={"Element Name":"Skills", "Title_x":"Title"})
    return merged

In [31]:
pd.merge(occupations, simple_abilities, on='O*NET-SOC Code', how = 'left').drop(columns = ["Title_y", "Element ID"]).rename(columns={"Element Name":"Abilities", "Title_x":"Title"})

,O*NET-SOC Code,Title,Description,Element ID,Abilities
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,1.A.1.a.1,Oral Comprehension
1,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,1.A.1.a.2,Written Comprehension
2,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,1.A.1.a.3,Oral Expression
3,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,1.A.1.a.4,Written Expression
4,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,1.A.1.b.1,Fluency of Ideas
...,...,...,...,...,...
45840,55-3014.00,Artillery and Missile Crew Members,"Target, fire, and maintain weapons used to des...",NaN,NaN
45841,55-3015.00,Command and Control Center Specialists,"Operate and monitor communications, detection,...",NaN,NaN
45842,55-3016.00,Infantry,Operate weapons and equipment in ground combat...,NaN,NaN
45843,55-3018.00,Special Forces,"Implement unconventional operations by air, la...",NaN,NaN
45844,55-3019.00,Military Enlisted Tactical Operations and Air/...,All military enlisted tactical operations and ...,NaN,NaN

In [43]:
test = left_join_ksa(occupations, all_skills)

,O*NET-SOC Code,Title,Description,Skills
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,Administration and Management
1,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,Administrative
2,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,Economics and Accounting
3,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,Sales and Marketing
4,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,Customer and Personal Service
...,...,...,...,...
99093,55-3014.00,Artillery and Missile Crew Members,"Target, fire, and maintain weapons used to des...",NaN
99094,55-3015.00,Command and Control Center Specialists,"Operate and monitor communications, detection,...",NaN
99095,55-3016.00,Infantry,Operate weapons and equipment in ground combat...,NaN
99096,55-3018.00,Special Forces,"Implement unconventional operations by air, la...",NaN
99097,55-3019.00,Military Enlisted Tactical Operations and Air/...,All military enlisted tactical operations and ...,NaN