In [1]:
import pandas as pd
import numpy as np

In [2]:
occupations = pd.read_excel("Occupation Data.xlsx")
abilities = pd.read_excel("Abilities.xlsx")
knowledge = pd.read_excel("Knowledge.xlsx")
skills = pd.read_excel("Skills.xlsx")
hardware = pd.read_excel("Tools Used.xlsx")
software = pd.read_excel("Technology Skills.xlsx")

scale_ref = pd.read_excel("Scales Reference.xlsx")

abilities = soft skills
knowledge = hard skills/domain knowledge
skills = mix of both

In [13]:
abilities['Element Name'].drop_duplicates().head()

0       Oral Comprehension
2    Written Comprehension
4          Oral Expression
6       Written Expression
8         Fluency of Ideas
Name: Element Name, dtype: object

In [14]:
knowledge['Element Name'].drop_duplicates().head()

0    Administration and Management
2                   Administrative
4         Economics and Accounting
6              Sales and Marketing
8    Customer and Personal Service
Name: Element Name, dtype: object

In [15]:
skills['Element Name'].drop_duplicates().head()

0    Reading Comprehension
2         Active Listening
4                  Writing
6                 Speaking
8              Mathematics
Name: Element Name, dtype: object

In [3]:
all = pd.concat([knowledge, skills, abilities])
all_skills = all[all['Recommend Suppress']=="N"].iloc[:, :4].drop_duplicates().reset_index(drop=True)

In [20]:
jobs_and_skills = pd.merge(occupations,all_skills,on='O*NET-SOC Code',how = 'left').drop(columns=["Title_y","Element ID","Description"]).rename(columns={"Element Name":"Skills","Title_x":"Title"})
jobs_and_skills

,O*NET-SOC Code,Title,Skills
0,11-1011.00,Chief Executives,Administration and Management
1,11-1011.00,Chief Executives,Administrative
2,11-1011.00,Chief Executives,Economics and Accounting
3,11-1011.00,Chief Executives,Sales and Marketing
4,11-1011.00,Chief Executives,Customer and Personal Service
...,...,...,...
99093,55-3014.00,Artillery and Missile Crew Members,NaN
99094,55-3015.00,Command and Control Center Specialists,NaN
99095,55-3016.00,Infantry,NaN
99096,55-3018.00,Special Forces,NaN
99097,55-3019.00,Military Enlisted Tactical Operations and Air/...,NaN

In [22]:
tech = pd.concat([hardware, software]).drop(columns= ["Example", "Commodity Code", "Hot Technology", "In Demand"]).drop_duplicates()

In [21]:
jobs_and_tech = pd.merge(occupations, tech, on='O*NET-SOC Code', how = 'left').drop(columns = ["Title_y", "Description"]).rename(columns={"Title_x":"Title", "Commodity Title":"Tech Skill"})
jobs_and_tech

,O*NET-SOC Code,Title,Tech Skill
0,11-1011.00,Chief Executives,Desktop calculator
1,11-1011.00,Chief Executives,Desktop computers
2,11-1011.00,Chief Executives,Notebook computers
3,11-1011.00,Chief Executives,Personal computers
4,11-1011.00,Chief Executives,Personal digital assistant PDAs or organizers
...,...,...,...
44848,55-3014.00,Artillery and Missile Crew Members,NaN
44849,55-3015.00,Command and Control Center Specialists,NaN
44850,55-3016.00,Infantry,NaN
44851,55-3018.00,Special Forces,NaN
44852,55-3019.00,Military Enlisted Tactical Operations and Air/...,NaN